<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>MyFirstProject</title>
</head>
<body>
  <div class="container">
  <h1 class="text-center mt-4 mb-4">{{company_name}} BAYABAN </h1>
  <img class="img-fluid" src="https://myfirstproject.sherace.repl.co/static/clark.jpg">
  <h2 class="text-center">about sherwin</h2>
    <p class="lead">sdfwfflhsdfewurghdjfvdjvbsdfhuiyretgfdkjfhdggvsdjfhawueehuigewwgfwfwfhsjkvhcugrhghdvdfvd fbfbdfvdfgdfvdfb</p>
 <h3 class="text-center">open position</h3>
  <p>
    {% for job in jobs %}
      {% include 'jobitem.html' %}
    {% endfor %}
  </p>
  <p>todo - show get jobs</p>
  <div class="text-center">
    <button class="btn btn-primary btn-lg">contact us</button>
  </div>  
  </div
</body>
</html>